<% if matching_location[:location].country == "Canada" || matching_location[:location].country == "United States" %>
  <div class="condition match">
  	<div class="condition-label">
      <%= matching_location[:location].city %>, <%= matching_location[:location].region %>, <%= matching_location[:location].country %>
    </div>
  </div>
<% else %>
  <div class="condition match">
  	<div class="condition-label">
      <%= matching_location[:location].city %>, <%= matching_location[:location].country %>
    </div>
  </div>
<% end %>
<div class="condition-value"><%= matching_location[:score].round %> % </div>
