<div class="clearfix">
	<div class="match-view">
		<% if pretty_match[:country] == "Canada" || pretty_match[:country] == "United States" %>
			<%= pretty_match[:name] %>, <%= pretty_match[:region] %>, <%= pretty_match[:country] %>
				<% matches.each do |ea| %>
					<div class="match-conditions">
					<% if ea.id == pretty_match[:id] %>
							<div>Conditions: <div class="match-value"><%= ea.conditions %></div></div>
							<div>Temp: <div class="match-value"><%= ea.temp %> C</div></div>
							<div>Humidity: <div class="match-value"><%= ea.humidity %> %</div></div>
							<div>Dewpoint: <div class="match-value"><%= ea.dewpoint %> C</div></div>
							<div>Wind: <div class="match-value"><%= ea.wind_kph %> km/h</div></div>
					<% end %>
					</div>
				<% end %>
		<% else %>
			<%= pretty_match[:name] %>, <%= pretty_match[:country] %>
				<% matches.each do |ea| %>
					<div class="match-conditions">
					<% if ea.id == pretty_match[:id] %>
							<div>Conditions: <div class="match-value"><%= ea.conditions %></div></div>
							<div>Temp: <div class="match-value"><%= ea.temp %> C</div></div>
							<div>Humidity: <div class="match-value"><%= ea.humidity %> %</div></div>
							<div>Dewpoint: <div class="match-value"><%= ea.dewpoint %> C</div></div>
							<div>Wind: <div class="match-value"><%= ea.wind_kph %> km/h</div></div>
					<% end %>
					</div>
				<% end %>
		<% end %>
	</div>
</div>

