<% if matching_location.country == "Canada" || matching_location.country == "United States" %>
	<div class="condition clearfix">
		<div class="condition-value"><%= matching_location.city %>, <%= matching_location.region %>, <%= matching_location.country %></div>
	</div>
<% else %>
	<div class="condition clearfix">
		<div class="condition-value"><%= matching_location.city %>, <%= matching_location.country %></div>
	</div>
<% end %>
<div class="condition clearfix">
		<div class="condition-value"><%= sorted_scores_hash[matching_location] %> % </div>
</div>