<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Where in the World is Your Weather?</title>
	</head>

	<body>

		<% if query_observation.nil? %>

			<% if query_station.nil? %>
				<div class="container">
					<h2 id="intro">Ever wonder where else in the world has <strong>your</strong> weather?</h2>
		  	</div>
			<% else %>
				<div class="no-result">There is not enough data to find matches for <%= query_station.city %>,
					<%= query_station.country %>
				</div>
			<% end %>
			<%= erb :_search_bar %>

		<% else %>

			<div id="map"></div>

			<div id="side-bar">
				<div class="search-bar">
					<%= erb :_search_bar %>
				</div>

				<div id="results">

					<div id="current-conditions">
						<h3 class="section_header" data-city="<%= query_observation.station.city %>" data-country="<%= query_observation.station.country %>" data-lat=<%= query_observation.station.latitude %> data-lng=<%= query_observation.station.longitude %>>
						<% if query_observation.station.country == "Canada" || query_observation.station.country == "United States" %>
							<%= query_observation.station.city %>, <%= query_observation.station.region %>, <%= query_observation.station.country %>
						<% else %>
							<%= query_observation.station.city %>, <%= query_observation.station.country %>
						<% end %>
						</h3>
						<%= erb :_query_conditions, locals: { query_observation: query_observation } %>
					</div>

					<div id="matches">
						<h3 class="section_header">Matches
							<span class="section_header percentage hidden">Similarity</span>
						</h3>
							<% if sorted_matches.empty? %>
								<div>Nope. Looks like your weather is unique!</div>
							<% else %>
								<% sorted_matches.each do |ea| %>
									<%= erb :_match_view, :locals => {matching_location: ea} %>
								<% end %>
							<% end %>
					</div>
				</div>
			</div>
									<span class="observation-note">*Weather data is updated 3 times a day</span>

		<% end %>

	</body>

</html>