<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Where in the World is Your Weather?</title>
	</head>

	<body>
		<h2 id="header">Weather for <%= Time.now %></h2>
		<div id="location_menu">
			<input type="text" id="location_input" value="Start typing your location">
			<ul id="search_results">
			</ul>
		</div>

		<div id="results">
			<div id="current_conditions">
			<h3 class="section_header">
				<% if locations_match[:country] == "Canada" || locations_match[:country] == "United States" %>
					<%= locations_match[:city] %>, <%= locations_match[:region] %>, <%= locations_match[:country] %>
				<% else %>
					<%= locations_match[:city] %>, <%= locations_match[:country] %>
				<% end %>
			</h3>
				<%= erb :_results_view, :locals => {:heading => "Conditions",
																						:matching_station => matching_station,
						 																:type => "conditions",
						 																:unit => nil } %>

				<%= erb :_results_view, :locals => {:heading => "Temperature",
																						:matching_station => matching_station,
																						:type => "temp",
																						:unit => "C" } %>

				<%= erb :_results_view, :locals => {:heading => "Humidity",
																						:matching_station => matching_station,
																						:type => "humidity",
																						:unit => "%" } %>

				<%= erb :_results_view, :locals => {:heading => "Dewpoint",
																						:matching_station => matching_station,
																						:type => "dewpoint",
																						:unit => "C" } %>
			</div>

			<div id="matches">
				<h3 class="section_header">Matches Around the World</h3>

				<% matches.each do |ea| %>
					<% pretty_match = find_pretty_match_station(ea) %>
					<% next if pretty_match.nil? %>
					<%= erb :_match_view, :locals => { :pretty_match => pretty_match } %>
				<% end %>

			</div>
		</div>

	</body>

</html>
