<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Where in the World is Your Weather?</title>
	</head>

	<body>

		<div class="container">
			<h2 id="intro">Ever wonder where else in the world has <strong>your</strong> weather?</h2>

			<div class="location-menu">
				<div class="location-search">
					<input type="text" class="location-input" placeholder="Start typing your location">
					<ul class="search-results">
					</ul>
				</div>
			</div>
  	</div>

		<div id="results" class="clearfix">
				<% if query_observation.nil? %>
					<% if query_station.nil? %>
						<div></div>
					<% else %>
						<div class="no-result">There is not enough data to find matches for <%= query_station.city %>,
							<%= query_station.country %>
						</div>
					<% end %>
				<% else %>
				<div id="current-conditions">
					<h3 class="section_header">
					<% if query_observation.station.country == "Canada" || query_observation.station.country == "United States" %>
						<%= query_observation.station.city %>, <%= query_observation.station.region %>, <%= query_observation.station.country %>
					<% else %>
						<%= query_observation.station.city %>, <%= query_observation.station.country %>
					<% end %>
					</h3>
					<div class="condition clearfix">
						<div class="condition-label">Conditions:</div>
						<div class="condition-value"><%= query_observation.conditions %></div>
					</div>
					<div class="condition clearfix">
						<div class="condition-label">Temperature:</div>
						<div class="condition-value"><%= query_observation.temp %> C</div>
					</div>
					<div class="condition clearfix">
						<div class="condition-label">Humidity:</div>
						<div class="condition-value"><%= query_observation.humidity %> %</div>
					</div>
					<div class="condition clearfix">
						<div class="condition-label">Dewpoint:</div>
						<div class="condition-value"><%= query_observation.dewpoint %> C</div>
					</div>
					<div class="condition clearfix">
						<div class="condition-label">Wind:</div>
						<div class="condition-value"><%= query_observation.wind_kph || 0 %> km/h</div>
					</div>
					<div class="condition clearfix">
						<div class="condition-label">Observed at:</div>
						<div class="condition-value"><%= query_observation.time.httpdate %></div>
					</div>
					<span class="observation-note">*Weather data is updated 3 times a day</span>
			</div>

			<div id="matches">
				<h3 class="section_header">Matches Around the World:</h3>
					<% if sorted_scores.empty? %>
						<div>Nope. Looks like your weather is unique!</div>
					<% else %>
						<% sorted_scores.each do |ea| %>
							<%= erb :_match_view, :locals => {:matching_location => ea} %>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
	</body>

</html>