<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Where in the World is Your Weather?</title>
	</head>

	<body>
		<h2 class="header">Weather for <%= Date.today %></h2>
		<div class="location_menu">
			<input type="text" class="location_input" value="Start typing your location">
			<ul class="search_results">
			</ul>
		</div>
  
		<div id="results">
			<div id="current_conditions">
				<% if query_observation.nil? %>
					<div class="condition clearfix">There is not enough data to find matches for <%= query_station.city %></div>
				<% else %>
					<h3 class="section_header">
					<% if query_observation.station.country == "Canada" || query_observation.station.country == "United States" %>
						<%= query_observation.station.city %>, <%= query_observation.station.region %>, <%= query_observation.station.country %>
					<% else %>
						<%= query_observation.station.city %>, <%= query_observation.station.country %>
					<% end %>
					</h3>
					<div class="condition clearfix">
						<div class="condition-label">Conditions:</div>
						<div class="condition-value"><%= query_observation.conditions %></div>
					</div>
					<div class="condition clearfix">
						<div class="condition-label">Temperature:</div>
						<div class="condition-value"><%= query_observation.temp %> C</div>
					</div>
					<div class="condition clearfix">
						<div class="condition-label">Humidity:</div>
						<div class="condition-value"><%= query_observation.humidity %> %</div>
					</div>
					<div class="condition clearfix">
						<div class="condition-label">Dewpoint:</div>
						<div class="condition-value"><%= query_observation.dewpoint %> C</div>
					</div>
					<div class="condition clearfix">
						<div class="condition-label">Wind:</div>
						<div class="condition-value"><%= query_observation.wind_kph %> km/h</div>
					</div>
					<div class="condition clearfix">
						<div class="condition-label">Observed at:</div>
						<div class="condition-value"><%= query_observation.time.httpdate %></div>
					</div>

			</div>

			<div id="matches">
				<h3 class="section_header">Matches Around the World:</h3>
					<% if sorted_scores.empty? %>
						<div>Nope. Looks like your weather is unique!</div>
					<% else %>
						<% sorted_scores.each do |ea| %>
							<%= erb :_match_view, :locals => {:matching_location => ea} %>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
	</body>

</html>