<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Where in the World is Your Weather?</title>
	</head>

	<body>
		<h2 id="header">Weather for <%= Time.now %></h2>
		<div id="location_menu">
			<input type="text" id="location_input" value="Start typing your location">
			<ul id="search_results">
			</ul>
		</div>

		<div id="results">
			<div id="current_conditions">
				<h3 class="section_header">Current Conditions for <span id="query_location"><%= station.city %>, <%= station.state %>, <%= station.country %></span></h3>
				<%= erb :_results_view, :locals => {:heading => "Conditions",
																						:matching_station => matching_station,
																						:type => "conditions" } %>

				<%= erb :_results_view, :locals => {:heading => "Temperature",
																						:matching_station => matching_station,
																						:type => "temp" } %>

				<%= erb :_results_view, :locals => {:heading => "Humidity",
																						:matching_station => matching_station,
																						:type => "humidity" } %>

				<%= erb :_results_view, :locals => {:heading => "Dewpoint",
																						:matching_station => matching_station,
																						:type => "dewpoint" } %>
			</div>

			<div id="matches">
				<h3 class="section_header">Matches Around the World</h3>
			</div>
		</div>

	</body>

</html>
