<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Where in the World is Your Weather?</title>
	</head>

	<body>
		<h2 class="header">Weather for <%= Date.today %></h2>
		<div class="location_menu">
			<input type="text" class="location_input" value="Start typing your location">
			<ul class="search_results">
			</ul>
		</div>

		<% unless station.nil? %>
		<div id="results">
			<div id="current_conditions">
			<h3 class="section_header">
				<% if station.country == "Canada" || station.country == "United States" %>
					<%= station.city %>, <%= station.region %>, <%= station.country %>
				<% else %>
					<%= station.city %>, <%= station.country %>
				<% end %>
			</h3>
			<div class="condition clearfix">
				<div class="condition-label">Conditions:</div>
				<div class="condition-value"><%= station_to_match_data.conditions %></div>
			</div>
			<div class="condition clearfix">
				<div class="condition-label">Temperature:</div>
				<div class="condition-value"><%= station_to_match_data.temp %> C</div>
			</div>
			<div class="condition clearfix">
				<div class="condition-label">Humidity:</div>
				<div class="condition-value"><%= station_to_match_data.humidity %> %</div>
			</div>
			<div class="condition clearfix">
				<div class="condition-label">Dewpoint:</div>
				<div class="condition-value"><%= station_to_match_data.dewpoint %> C</div>
			</div>
			<div class="condition clearfix">
				<div class="condition-label">Wind:</div>
				<div class="condition-value"><%= station_to_match_data.wind_kph %> km/h</div>
			</div>
			<div class="condition clearfix">
				<div class="condition-label">Observed at:</div>
				<div class="condition-value"><%= Time.parse(station_to_match_data.time).httpdate %></div>
			</div>

			</div>

			<div id="matches">
				<h3 class="section_header">Matches Around the World:</h3>
				<% matches_to_display.each do |ea| %>
					<% matching_location = ea %>
					<%= erb :_match_view, :locals => {:matching_location => matching_location } %>
				<% end %>
			</div>
		</div>
		<% end %>

	</body>

</html>
